@import '../../../assets/style/common.scss';

.list-box{
	width: 100%;
	.list-item{
		border-bottom: 1px solid #eee;
		display: flex;
		align-items: center;
		padding: px2rem(20px);
		.img-box{
			width: px2rem(200px);
			margin-right: px2rem(20px);
			img{
				width: 100%;
				max-width: 100%;
				vertical-align: bottom;
			}
		}
		.list-item-con{
			//margin-top: -20px;
			width: px2rem(340px);
			p{
				width: 100%;
				overflow: hidden;
				display: -webkit-box;
				text-overflow: ellipsis;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				span{
					display: inline-block;
					//margin-right: px2rem(10px);
				}
			}
		}
		.list-item-state{
			width: px2rem(140px);
			p{
				color: rgb(225, 130, 153);
				font-size: px2rem(12px);
			}
		}
	}
}