$green: #4FCA4F;
$grey: rgb(85, 85, 85);

@font-face {
    font-family: 'iconfont';  /* project id 790941 */
    src: url('//at.alicdn.com/t/font_790941_ugnolp0wits.eot');
    src: url('//at.alicdn.com/t/font_790941_ugnolp0wits.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_790941_ugnolp0wits.woff') format('woff'),
    url('//at.alicdn.com/t/font_790941_ugnolp0wits.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_790941_ugnolp0wits.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:40px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@function px2rem($px, $base-font-size: 32px) {
    @if (unitless($px)) {
      @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
      @return px2rem($px + 0px); // That may fail.
    } @else if (unit($px) == rem) {
      @return $px;
    }
    @return ($px / $base-font-size) * 1rem;
  }