@import '../../../assets/style/common.scss';

.home{
	width: 100%;
	$bottomHei: 80px;
	height: calc(100% - #{$bottomHei});
	&-top{
		margin: 10px;
		display: flex;
		//width: 100%;
		align-items: center;
		.city{
			margin-right: px2rem(20px);
			font-size: px2rem(28px);
			a{
				color: $grey;
				display:flex;
				align-items:center;
				.dire{
					width: px2rem(12px);
					height: px2rem(12px);
					border-right: 1px solid $grey;
					border-bottom: 1px solid $grey;
					transform: rotate(45deg);
					display:inline-block;
					margin:{
						left: px2rem(10px);
						top: px2rem(-6px);
					}
				}
			}
		}
	}
}